@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

ul,
ol,
figure {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
